<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-parameter-heading" jhiTranslate="treatmentscheduleApp.parameter.home.createOrEditLabel">Create or edit a Parameter</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!parameter.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="parameter.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="treatmentscheduleApp.parameter.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="parameter.value" required/>
                    <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="treatmentscheduleApp.parameter.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                        [(ngModel)]="parameter.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="treatmentscheduleApp.parameter.parent" for="field_parent">Parent</label>
                    <select class="form-control" id="field_parent" name="parent" [(ngModel)]="parameter.parent" >
                        <option [ngValue]="null">{{'treatmentscheduleApp.parameter.SELECT' | translate}}</option>
                        <option [ngValue]="parameterOption.id === parameter.parent?.id ? parameter.parent : parameterOption" *ngFor="let parameterOption of parameters; trackBy: trackParameterById">{{parameterOption.value}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
