<div>
    <h2 id="page-heading">
        <span jhiTranslate="treatmentscheduleApp.parameter.home.title">Parameters</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parameter" [routerLink]="['/parameter/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="treatmentscheduleApp.parameter.home.createLabel">
            Create new Parameter
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'treatmentscheduleApp.parameter.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
                <div class="form-group w-100 mt-3">
                    <label class="form-control-label" jhiTranslate="treatmentscheduleApp.parameter.status">Status</label>
                    <div class="form-group btn-group btn-group-toggle">
                        <label class="btn-success" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="parameterStatusActivated" [ngModelOptions]="{standalone: true}">
                            <span jhiTranslate="treatmentscheduleApp.parameter.activated">Activated</span>
                        </label>
                        <label class="btn-danger" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="parameterStatusDesactivated" [ngModelOptions]="{standalone: true}">
                            <span jhiTranslate="treatmentscheduleApp.parameter.deactivated">Deactivated</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parameters">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="treatmentscheduleApp.parameter.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="treatmentscheduleApp.parameter.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parent.id"><span jhiTranslate="treatmentscheduleApp.parameter.parent">Parent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parameter of parameters ;trackBy: trackId">
                <td><a [routerLink]="['/parameter', parameter.id, 'view' ]">{{parameter.id}}</a></td>
                <td>{{parameter.value}}</td>
                <td>
                    <label class="btn-danger btn-sm" *ngIf="!parameter.status" jhiTranslate="treatmentscheduleApp.parameter.deactivated">Deactivated</label>
                    <label class="btn-success btn-sm" *ngIf="parameter.status" jhiTranslate="treatmentscheduleApp.parameter.activated">Activated</label>
                </td>
                <td>
                    <div *ngIf="parameter.parent">
                        <a [routerLink]="['../parameter', parameter.parent?.id, 'view' ]" >{{parameter.parent?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/parameter', parameter.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/parameter', parameter.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parameter/'+ parameter.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="parameters && parameters.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
